<div class="container">
    <div class="sidea">
        <div class="sideacontainer">
            
            <h1 class="title">
                You can choose your favorite coffee here.
               
            </h1>
            <ul>
                

            <li> <span><img src="../../assets/img/litick.svg" alt=""></span> The best selection of beans</li>
              <li><span><img src="../../assets/img/litick.svg" alt=""></span>The best selection of chocolate</li>
              <li><span><img src="../../assets/img/litick.svg" alt=""></span>The best selection of vanilla</li>

              <div class="ordercontainer">
                  <button class="order"><img src="../../assets/img/order.png" width="30px" alt="">
                      Order
                  </button>
                  <button class="mobileapp">
                      <img src="../../assets/img/mobileapp.png" width="30px" alt="">Download mobile app 
                  </button>
              </div>
            </ul>
        </div>
        
        
    </div>
    <div class="sideb">
        <img class="bgpic" src="../../assets/img/bgpic.png" alt="">
        <img src="../../assets/img/cupofcoffee.png" alt="" class="cup">
        <img src="../../assets/img/coffeebeans.png" alt="" class="coffeebeans">
    </div>
</div>
<footer>
    <div class="a" style="justify-content: space-around;">
        <li
        style="list-style: none;
        align-items: center;
        display: flex;
          width: 220px;"><img src="../../assets/img/li1img.png"
            style="background-color:#485c4c ;
            border-radius: 100%;
            padding: 10px;
            margin: 10px;
            "
            width="50px" alt="">Coffe beans from organic garden</li>
        <li
        style="list-style: none;
        align-items: center;
        display: flex;
        width: 220px;"><img src="../../assets/img/li2img.png"
            style="background-color:#485c4c ;
            border-radius: 100%;
            padding: 10px;
            margin: 10px;"
            width="50px" alt="" >Environmentally friendly materials</li>
        <li
        style="list-style: none;
        align-items: center;
        display: flex;
        width: 220px;"><img src="../../assets/img/li3img.png"
            style="background-color:#485c4c ;
            border-radius: 100%;
            padding: 10px;
            margin: 10px;"
            width="50px" alt="" >Environmentally friendly materials</li>
        
    </div>

    <div class="b"
     style="align-items: center;
     ">
        <h2
        style="color: white;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;"
        >Learn more  <img src="../../assets/img/imgarrow.png" width="40px" alt=""
        style="padding-left: 10px;"></h2>
       
    </div>
</footer>